<script>
	import Calculator from './Calculator.svelte'
</script>
<main>
	<div id="sidenav">
		<div id="avatar">
				<img alt="avatar" src="img/cool.png" width="200" height="200" style="border-radius: 50%;"/>
				<h2>Hung Long</h2>
				<h3>A developer's blog</h3>
		</div>
		<div class="art">
			<h2>Articles</h2>
			<ul>
				<li>Work</li>
				<li>Life</li>
				<li>Games</li>
			</ul>
		</div>
		<div class="art">
			<h2>Contact</h2>
			<ul>
				<li>Facebook</li>
				<li>Linkedin</li>
				<li>Bitbucket</li>
				<li>Github</li>
			</ul>
		</div>
	</div>
	<div id="content">
		<Calculator/>
	</div>
</main>

<style>
	main {
		padding: 1em;
		margin: 0 auto;
		display: grid;
		grid-template-columns: minmax(250px, 300px) 1fr;
	}

	#sidenav {
		height: calc(100vh - 2em);
		overflow: auto;
		border-right: 1px solid #ff3e00;
	}

	#avatar, .art > h2 {
		text-align: center;
	}

	.art > h2 {
		text-decoration: underline;
	}

</style>