<script>
  let formula = '';
  let clearFlag = 0;
  let result = '';
  function handleClick(val) {
    if (clearFlag == 1) {
      formula = '';
      clearFlag = 0;
    }
    if (['+','-','x','/'].includes(val) && ['+','-','x','/'].includes(formula[formula.length-1])) {
      formula = formula.substring(0, formula.length-1);
    }
    formula = formula + val;
    typingSound();
  }
  function clearFormula() {
    formula = '';
    result = '';
    clearFlag = 0;
  }
  function backBtn() {
    formula = formula.substring(0, formula.length-1);
    clearFlag = 0;
    deleteSound();
  }
  function execute() {
    clearFlag = 1;
    execSound();
    try {
      result = eval(
        formula
          .replaceAll('x','*')
          .replaceAll(/\b0+(\d+)\b/g, '$1')
          .replaceAll(/\(.+\)²/g, "Math.pow($&, 2)")
          .replaceAll(/[0-9]+²/g, "Math.pow($&, 2)")
          .replaceAll('²', "")
          .replaceAll(/√\(/g, "Math.sqrt(")
          .replaceAll(/√[0-9]+/g, "Math.sqrt($&)")
          .replaceAll('√', "")
          .replaceAll(/(\d+)\%/g, "($1\/100)")
        );
      if (isNaN(result)) {
        throw "result is NAN";
      }
      if(formula.match(/√\-/g) !== null) {
        throw "A negative number can not have its square root";
      }
    } catch {
      result = 'Malformed expression';
    }
  }
  function typingSound() {
    document.getElementById('tap1').play();
  }
  function deleteSound() {
    document.getElementById('tap2').play();
  }
  function execSound() {
    document.getElementById('tap3').play();
  }
</script>
<div id="calculator">
  <h1>Calculator</h1>
  <input type="text" readonly value={result}>
  <textarea bind:value={formula}></textarea>
  <div class="btngroup">
    <div on:click={() => handleClick('7')} class="btn">7</div>
    <div on:click={() => handleClick('8')} class="btn">8</div>
    <div on:click={() => handleClick('9')} class="btn">9</div>
    <div on:click={() => handleClick(`/`)} class="btn">/</div>
    <div on:click={() => backBtn()} class="btn">&#8592;</div>
    <div on:click={() => clearFormula()} class="btn">c</div>
    <div on:click={() => handleClick('4')} class="btn">4</div>
    <div on:click={() => handleClick('5')} class="btn">5</div>
    <div on:click={() => handleClick('6')} class="btn">6</div>
    <div on:click={() => {handleClick('x')}} class="btn">x</div>
    <div on:click={() => handleClick(`(`)} class="btn">(</div>
    <div on:click={() => handleClick(`)`)} class="btn">)</div>
    <div on:click={() => handleClick('1')} class="btn">1</div>
    <div on:click={() => handleClick('2')} class="btn">2</div>
    <div on:click={() => handleClick('3')} class="btn">3</div>
    <div on:click={() => handleClick('-')} class="btn">-</div>
    <div on:click={() => handleClick('²')} class="btn">x²</div>
    <div on:click={() => handleClick('√')} class="btn">√</div>
    <div on:click={() => handleClick('0')} class="btn">0</div>
    <div on:click={() => handleClick('.')} class="btn">.</div>
    <div on:click={() => handleClick('%')} class="btn">%</div>
    <div on:click={() => handleClick('+')} class="btn">+</div>
    <div on:click={() => execute()} class="btn exe">=</div>
  </div>
</div>
<!-- <p>{
  formula
    .replaceAll('x','*')
    .replaceAll(/\b0+(\d+)\b/g, '$1')
    .replaceAll(/\(.+\)²/g, "Math.pow($&, 2)")
    .replaceAll(/[0-9]+²/g, "Math.pow($&, 2)")
    .replaceAll('²', "")
    .replaceAll(/√\(/g, "Math.sqrt(")
    .replaceAll(/√[0-9]+/g, "Math.sqrt($&)")
    .replaceAll('√', "")
    .replaceAll(/(\d+)\%/g, "($1\/100)")
  }
</p> -->
<audio id="tap1">
  <source src="sound/tap-01.ogg">
</audio>
<audio id="tap2">
  <source src="sound/tap-02.ogg">
</audio>
<audio id="tap3">
  <source src="sound/tap-03.ogg">
</audio>

<style>
  #calculator {
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
  }

  h1 {
    margin-top: 0;
  }

  .btngroup {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 50px);
    column-gap: 7px;
    row-gap: 5px;
    width: 100%;
    user-select: none;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 4em;
  }

  .btn {
    width: 100%;
    background-color: rgb(70, 70, 70);
    color:#dbdbdb;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #1d1d1d
  }

  .btn:hover {
    background-color: rgb(95, 95, 95);
    cursor: pointer;
  }

  .btn:active {
    background-color: rgb(29, 29, 29);
  }

  input[readonly] {
    cursor:default;
  }

  .exe {
    grid-column-start: 5;
    grid-column-end: span 2;
  }

	input:focus-visible, textarea:focus-visible {
		outline: none;
	}
</style>